
body {
	background-color: rgb(253,253,253);
	margin: .75in;
	font-size: 2vw;
	font-family: "Times New Roman", Times, serif;
}

form {
	height: 35vh;
	width: 50vw;
}

textarea {
	background-color: rgb(240,240,240);
	height: 75%;
	width: 100%;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	color: blue;
	text-decoration: underline;
}

#inputTitle {
	margin: 0px;
	padding: 0px;
}

#formatedOutput {
	width: 100%; 
	margin-top: 2vw;
	white-space: pre-wrap; 
	font-size: 2vw;
	font-family: "Times New Roman", Times, serif;
}
